
  <div>
    <div class="row" style="margin-left: 30px">
      <div class="col-6">
          <h6>Fed Bank</h6>
          <p>VIJON VARGHESE - vijon@federalbank.co.in,<br/>
            Anoop Sadanandan S - anoops@federalbank.co.in,<br/>
            Harikrishnan P R - harikrishnanpr@federalbank.co.in,<br/>
            SAJEEL SIDDIQUE E M - sajeelem@federalbank.co.in,<br/>
            VISHAK S - vishaks@federalbank.co.in,<br/>
            ELDHO SAMUEL - eldhos@federalbank.co.in.<br/>
            Anoop is first escalation point.<br/>
            Next escalation point is Babu Thomas - Babuthomas@federalbank.co.in</p>
      </div>
      <div class ="col-6">
        <h6>IDFC</h6>
        <p>etollsupportl1@idfcbank.com,<br/>
          Etoll-Support@dimts.in. <br/>
          First escalation points are Rohita Samant rohita.samant@idfcbank.com <br/>
          and Girish Thuruthiyath girish.thuruthiyath@idfcfirstbank.com.<br/>
          Next escalation point is Srikant P Kurup Srikant.Kurup@idfcfirstbank.com

        </p>
      </div>
    </div>
    <hr/>
    <div class="row" style="margin-left: 30px">
      <div class="col-6">
        <h6>ICICI</h6>
        <p>
          Sourabh kumar Sharma - sourabh.sharama@ext.icicibank.com,<br/> 
	        Avinash Bisoi - avinash.bisoi@icicibank.com. <br/>
	        Escalation point is Amit Sharma - amit.ds@icicibank.com
        </p>
      </div>
      <div class="col-6">
        <h6>IOCL</h6>
        <p>Anand Govindarajan - agovindarajan@indianoil.in and <br/>
          Rajesh Sinha - rsinha@indianoil.in. <br/>
          Escalation point is MUTHU KUMARAN - tmuthukumaran@indianoil.in <br/>

        </p>
      </div>
    </div>
  </div>

