<div class="header" style="margin-top:auto;">
    <span style="margin-left: 10px; margin-top: 10px;"><b>Filter</b></span>
    <span><i class="fa fa-close float-right" style="font-size: 30px; cursor: pointer;"
      (click)="closeContactFilter();"></i></span>
</div>
<div class="container-fluid" style="height: 100%;">
    <div>
        <br>
        <form #contactFilter="ngForm" (ngSubmit)="applyContactFilter(contactFilter)">
            <div class="row">
                <div class="col-md">
                    <mat-form-field style="display: inherit;">
                        <input matInput [matDatepicker]="startDatePicker" name="contactCreatedOnStartDate" (click)="startDatePicker.open()" [(ngModel)]="contactCreatedOnStartDate" placeholder="From date">
                        <mat-datepicker-toggle matSuffix [for]="startDatePicker"></mat-datepicker-toggle>
                        <mat-datepicker #startDatePicker></mat-datepicker>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-md">
                    <mat-form-field style="display: inherit;">
                        <input matInput [matDatepicker]="endDatePicker" name="contactCreatedOnEndDate" (click)="endDatePicker.open()" [(ngModel)]='contactCreatedOnEndDate' placeholder="To date">
                        <mat-datepicker-toggle matSuffix [for]="endDatePicker"></mat-datepicker-toggle>
                        <mat-datepicker #endDatePicker></mat-datepicker>
                    </mat-form-field>
                </div>
            </div>
            <div class="row mt-3" style="float: right">
                <button type="button" class="btn btn-lg  btn-lg clearButton" (click)="clearForm();">Clear</button>
                <button type="submit" class="btn btn-lg btn-lg submitButton">Apply</button>
            </div>
        </form>
    </div>
</div>